@import "tailwindcss";

@keyframes slideInTop {
    0% { opacity: 0; transform: translateY(0); }
    100% { opacity: 1; transform: translateY(30%); }
}
@keyframes slideOutTop {
    0% { opacity: 1; transform: translateY(30%); }
    100% { opacity: 0; transform: translateY(0); }
}
@keyframes slideInRight {
    0% { opacity: 0; transform: translateX(100%); }
    100% { opacity: 1; transform: translateX(0); }
}
@keyframes slideOutRight {
    0% { opacity: 1; transform: translateX(0); }
    100% { opacity: 0; transform: translateX(100%); }
}
@keyframes slideInLeft {
    0% { opacity: 0; transform: translateX(-100%); }
    100% { opacity: 1; transform: translateX(0); }
}
@keyframes slideOutLeft {
    0% { opacity: 1; transform: translateX(0); }
    100% { opacity: 0; transform: translateX(-100%); }
}